.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 10px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 10px; }

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: 700;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td a, .ui-datepicker td span {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-multi .ui-datepicker-group, .ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

#ui-datepicker-div {
  background-color: #ffffff;
  border: 1px solid #cccccc; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border: 1px solid #adadad; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #246128;
  border: 1px solid #1f1f99; }

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #22722b;
  border: 1px solid #1f1f99; }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #1c575a;
  border: 1px solid #133d3f; }

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #80431e;
  border: 1px solid #5c2e15; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #636363;
  background-color: #ffffff;
  border: 1px solid #dadada; }

.pagination > li > span, pagination > li > a {
  color: #339;
  background-color: #ffffff;
  border: 1px solid #dadada; }

.pagination > li > span:hover, .pagination > li > span:focus, .pagination > li > a:hover, .pagination > li > a:focus {
  color: #1f1f99;
  background-color: #9cba9e;
  border: 1px solid #dadada; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #339;
  border: 1px solid #339; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #858585;
  background-color: #ffffff;
  border: 1px solid #dadada; }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  color: #ffffff;
  background-color: #339;
  border: 1px solid #339; }

a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
  color: #ffffff;
  background-color: #339;
  border: 1px solid #339; }

a.list-group-item-info.active, a.list-group-item-info.active:hover, a.list-group-item-info.active:focus {
  color: #ffffff;
  background-color: #398799;
  border: 1px solid #398799; }

a.list-group-item-warning.active, a.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus {
  color: #ffffff;
  background-color: #f8a46e;
  border: 1px solid #f8a46e; }

a.list-group-item-danger.active, a.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus {
  color: #ffffff;
  background-color: #e8afae;
  border: 1px solid #e8afae; }

.carousel-control:hover, .carousel-control:focus {
  color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=90); }

.side-body, .full-page-wrapper {
  min-height: 100%;
  position: relative;
  margin-bottom: 65px; }

.side-body h3, .pagetitle, .list-surveys h3 {
  position: relative;
  color: #ffffff;
  padding: 0.5em;
  color: #333333;
  border-bottom: solid 2px #339;
  margin-bottom: 1em;
  animation: fadein 1s; }

.cke_skin_kama .cke_button a:hover, .cke_skin_kama .cke_button a.cke_off:hover, .cke_skin_kama .cke_button a.cke_off span:hover, .cke_skin_kama .cke_button a span:hover {
  background-color: #fafafa;
  cursor: pointer;
  cursor: hand; }

.cke_skin_kama .cke_rcombo .cke_openbutton:hover, .cke_skin_kama .cke_rcombo .cke_openbutton .cke_icon:hover, .cke_skin_kama .cke_rcombo:hover, .cke_skin_kama .cke_rcombo a:hover, .cke_skin_kama:hover {
  background-color: #fafafa;
  cursor: pointer;
  cursor: hand; }

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.428571429;
  color: #35363f;
  background-color: #ffffff;
  margin: 0; }
  body .row {
    margin-right: 0;
    margin-left: 0; }

mark {
  background: #ff6cb6;
  color: #000; }

fieldset {
  /*border: 1px solid $silver;*/ }

a {
  color: #339; }
  a:hover {
    color: #1f1f99; }
  a:focus {
    color: #1f1f99; }
  a.badge:hover {
    color: #ffffff; }
  a.badge:focus {
    color: #ffffff; }
  a.list-group-item {
    color: #545454; }
    a.list-group-item.active:hover .list-group-item-text {
      color: #afdbb1; }
    a.list-group-item.active:focus .list-group-item-text {
      color: #afdbb1; }
    a.list-group-item.active .list-group-item-text {
      color: #afdbb1; }
    a.list-group-item.active > .badge {
      color: #339;
      background-color: #ffffff; }
    a.list-group-item .list-group-item-heading {
      color: #333333; }
    a.list-group-item:hover {
      background-color: #9cba9e; }
    a.list-group-item:focus {
      background-color: #9cba9e; }
  a.thumbnail:hover {
    border: 1px solid #339; }
  a.thumbnail:focus {
    border: 1px solid #339; }
  a.thumbnail.active {
    border: 1px solid #339; }
  a.list-group-item-success {
    color: #339; }
    a.list-group-item-success:hover {
      color: #339;
      background-color: #afdbb1; }
    a.list-group-item-success:focus {
      color: #339;
      background-color: #afdbb1; }
  a.list-group-item-info {
    color: #398799; }
    a.list-group-item-info:hover {
      color: #398799;
      background-color: #9bbfc0; }
    a.list-group-item-info:focus {
      color: #398799;
      background-color: #9bbfc0; }
  a.list-group-item-warning {
    color: #f8a46e; }
    a.list-group-item-warning:hover {
      color: #f8a46e;
      background-color: #b2947b; }
    a.list-group-item-warning:focus {
      color: #f8a46e;
      background-color: #b2947b; }
  a.list-group-item-danger {
    color: #e8afae; }
    a.list-group-item-danger:hover {
      color: #e8afae;
      background-color: #b65453; }
    a.list-group-item-danger:focus {
      color: #e8afae;
      background-color: #b65453; }
  a.text-primary:hover {
    color: #246128; }
  a.text-success:hover {
    color: #246128; }
  a.text-info:hover {
    color: #1c575a; }
  a.text-warning:hover {
    color: #f6863a; }
  a.text-danger:hover {
    color: #dd8988; }
  a.bg-primary:hover {
    background-color: #246128; }
  a.bg-success:hover {
    background-color: #9dd39f; }
  a.bg-info:hover {
    background-color: #8cb5b5; }
  a.bg-warning:hover {
    background-color: #a8876a; }
  a.bg-danger:hover {
    background-color: #a94847; }

.img-thumbnail {
  background-color: #ffffff;
  border: 1px solid #dadada; }

hr {
  border-top: 1px solid #9cba9e; }

.text-muted {
  color: #858585; }

.text-primary {
  color: #339; }

.text-success {
  color: #339; }

.text-info {
  color: #398799; }

.text-warning {
  color: #a15426; }

.text-danger {
  color: #e8afae; }

.bg-primary {
  color: #ffffff;
  background-color: #339; }

.bg-success {
  background-color: #c0e3c2; }

.bg-info {
  background-color: #649b6b; }

.bg-warning {
  background-color: #bba18c; }

.bg-danger {
  background-color: #be6665; }

.page-header {
  border-bottom: 1px solid #9cba9e; }

abbr[data-original-title] {
  border-bottom: 1px dotted #858585; }

blockquote {
  border-left: 5px solid #9cba9e; }
  blockquote footer {
    color: #858585; }
  blockquote small {
    color: #858585; }
  blockquote .small {
    color: #858585; }
  blockquote.pull-right {
    border-right: 5px solid #9cba9e; }

.blockquote-reverse {
  border-right: 5px solid #9cba9e; }

code {
  color: #c6254e;
  background-color: #f9f1f3; }

kbd {
  color: #ffffff;
  background-color: #333333;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

pre {
  color: #35363f;
  background-color: #f5f5f5;
  border: 1px solid #cccccc; }

.table > tbody + tbody {
  border-top: 2px solid #dadada; }
.table > tbody > tr > td.active {
  background-color: #f5f5f5; }
.table > tbody > tr > td.success {
  background-color: #c0e3c2; }
.table > tbody > tr > td.info {
  background-color: #649b6b; }
.table > tbody > tr > td.warning {
  background-color: #bba18c; }
.table > tbody > tr > td.danger {
  background-color: #be6665; }
.table > tbody > tr > th.active {
  background-color: #f5f5f5; }
.table > tbody > tr > th.success {
  background-color: #c0e3c2; }
.table > tbody > tr > th.info {
  background-color: #649b6b; }
.table > tbody > tr > th.warning {
  background-color: #bba18c; }
.table > tbody > tr > th.danger {
  background-color: #be6665; }
.table > tbody > tr.active > td {
  background-color: #f5f5f5; }
.table > tbody > tr.active > th {
  background-color: #f5f5f5; }
.table > tbody > tr.success > td {
  background-color: #c0e3c2; }
.table > tbody > tr.success > th {
  background-color: #c0e3c2; }
.table > tbody > tr.info > td {
  background-color: #649b6b; }
.table > tbody > tr.info > th {
  background-color: #649b6b; }
.table > tbody > tr.warning > td {
  background-color: #bba18c; }
.table > tbody > tr.warning > th {
  background-color: #bba18c; }
.table > tbody > tr.danger > td {
  background-color: #be6665; }
.table > tbody > tr.danger > th {
  background-color: #be6665; }
.table > tfoot > tr > td {
  border-top: 1px solid #dadada; }
  .table > tfoot > tr > td.active {
    background-color: #f5f5f5; }
  .table > tfoot > tr > td.success {
    background-color: #c0e3c2; }
  .table > tfoot > tr > td.info {
    background-color: #649b6b; }
  .table > tfoot > tr > td.warning {
    background-color: #bba18c; }
  .table > tfoot > tr > td.danger {
    background-color: #be6665; }
.table > tfoot > tr > th.active {
  background-color: #f5f5f5; }
.table > tfoot > tr > th.success {
  background-color: #c0e3c2; }
.table > tfoot > tr > th.info {
  background-color: #649b6b; }
.table > tfoot > tr > th.warning {
  background-color: #bba18c; }
.table > tfoot > tr > th.danger {
  background-color: #be6665; }
.table > tfoot > tr.active > td {
  background-color: #f5f5f5; }
.table > tfoot > tr.active > th {
  background-color: #f5f5f5; }
.table > tfoot > tr.success > td {
  background-color: #c0e3c2; }
.table > tfoot > tr.success > th {
  background-color: #c0e3c2; }
.table > tfoot > tr.info > td {
  background-color: #649b6b; }
.table > tfoot > tr.info > th {
  background-color: #649b6b; }
.table > tfoot > tr.warning > td {
  background-color: #bba18c; }
.table > tfoot > tr.warning > th {
  background-color: #bba18c; }
.table > tfoot > tr.danger > td {
  background-color: #be6665; }
.table > tfoot > tr.danger > th {
  background-color: #be6665; }
.table > thead > tr > th {
  border-bottom: 2px solid #dadada; }
  .table > thead > tr > th.active {
    background-color: #f5f5f5; }
  .table > thead > tr > th.success {
    background-color: #c0e3c2; }
  .table > thead > tr > th.info {
    background-color: #649b6b; }
  .table > thead > tr > th.warning {
    background-color: #bba18c; }
  .table > thead > tr > th.danger {
    background-color: #be6665; }
.table > thead > tr > td.active {
  background-color: #f5f5f5; }
.table > thead > tr > td.success {
  background-color: #c0e3c2; }
.table > thead > tr > td.info {
  background-color: #649b6b; }
.table > thead > tr > td.warning {
  background-color: #bba18c; }
.table > thead > tr > td.danger {
  background-color: #be6665; }
.table > thead > tr.active > td {
  background-color: #f5f5f5; }
.table > thead > tr.active > th {
  background-color: #f5f5f5; }
.table > thead > tr.success > td {
  background-color: #c0e3c2; }
.table > thead > tr.success > th {
  background-color: #c0e3c2; }
.table > thead > tr.info > td {
  background-color: #649b6b; }
.table > thead > tr.info > th {
  background-color: #649b6b; }
.table > thead > tr.warning > td {
  background-color: #bba18c; }
.table > thead > tr.warning > th {
  background-color: #bba18c; }
.table > thead > tr.danger > td {
  background-color: #be6665; }
.table > thead > tr.danger > th {
  background-color: #be6665; }
.table .table {
  background-color: #ffffff; }

.table-bordered {
  border: 1px solid #dadada; }
  .table-bordered > thead > tr > th {
    border: 1px solid #dadada; }
  .table-bordered > thead > tr > td {
    border: 1px solid #dadada; }
  .table-bordered > tbody > tr > th {
    border: 1px solid #dadada; }
  .table-bordered > tbody > tr > td {
    border: 1px solid #dadada; }
  .table-bordered > tfoot > tr > th {
    border: 1px solid #dadada; }
  .table-bordered > tfoot > tr > td {
    border: 1px solid #dadada; }

legend {
  color: #35363f;
  border-bottom: 1px solid #e6e6e6; }

output {
  color: #636363; }

.form-control {
  color: #636363;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form-control:focus {
    border: 1px solid #67afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-control:-ms-input-placeholder {
    color: #858585; }

.form-control::-moz-placeholder {
  color: #858585;
  opacity: 1; }

.form-control::-webkit-input-placeholder {
  color: #858585; }

.form-control[disabled] {
  /***********/
  color: #e3e3e3;
  background-color: #f5f5f5;
  opacity: 1; }

.form-control[readonly] {
  background-color: #f5f5f5;
  opacity: 1; }

fieldset[disabled] .form-control {
  background-color: #f5f5f5;
  opacity: 1; }
fieldset[disabled] .btn-default {
  background-color: #ffffff;
  border: 1px solid #cccccc; }
  fieldset[disabled] .btn-default:hover {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  fieldset[disabled] .btn-default:focus {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  fieldset[disabled] .btn-default:active {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
fieldset[disabled] .btn-primary {
  background-color: #339;
  border: 1px solid #339; }
  fieldset[disabled] .btn-primary:hover {
    background-color: #339;
    border: 1px solid #339; }
  fieldset[disabled] .btn-primary:focus {
    background-color: #339;
    border: 1px solid #339; }
  fieldset[disabled] .btn-primary:active {
    background-color: #339;
    border: 1px solid #339; }
  fieldset[disabled] .btn-primary.active {
    background-color: #339;
    border: 1px solid #339; }
fieldset[disabled] .btn-success {
  background-color: #339;
  border: 1px solid #339; }
  fieldset[disabled] .btn-success:hover {
    background-color: #339;
    border: 1px solid #339; }
  fieldset[disabled] .btn-success:focus {
    background-color: #339;
    border: 1px solid #339; }
  fieldset[disabled] .btn-success:active {
    background-color: #339;
    border: 1px solid #339; }
  fieldset[disabled] .btn-success.active {
    background-color: #339;
    border: 1px solid #339; }
fieldset[disabled] .btn-info {
  background-color: #398799;
  border: 1px solid #216869; }
  fieldset[disabled] .btn-info:hover {
    background-color: #398799;
    border: 1px solid #216869; }
  fieldset[disabled] .btn-info:focus {
    background-color: #398799;
    border: 1px solid #216869; }
  fieldset[disabled] .btn-info:active {
    background-color: #398799;
    border: 1px solid #216869; }
  fieldset[disabled] .btn-info.active {
    background-color: #398799;
    border: 1px solid #216869; }
fieldset[disabled] .btn-warning {
  background-color: #a15426;
  border: 1px solid #8c4921; }
  fieldset[disabled] .btn-warning:hover {
    background-color: #a15426;
    border: 1px solid #8c4921; }
  fieldset[disabled] .btn-warning:focus {
    background-color: #a15426;
    border: 1px solid #8c4921; }
  fieldset[disabled] .btn-warning:active {
    background-color: #a15426;
    border: 1px solid #8c4921; }
  fieldset[disabled] .btn-warning.active {
    background-color: #a15426;
    border: 1px solid #8c4921; }
fieldset[disabled] .btn-danger {
  background-color: #a0352f;
  border: 1px solid #8c2e29; }
  fieldset[disabled] .btn-danger:hover {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
  fieldset[disabled] .btn-danger:focus {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
  fieldset[disabled] .btn-danger:active {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
  fieldset[disabled] .btn-danger.active {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
fieldset[disabled] .btn-link:hover {
  color: #858585; }
fieldset[disabled] .btn-link:focus {
  color: #858585; }

.has-success .help-block {
  color: #339; }
.has-success .control-label {
  color: #339; }
.has-success .radio {
  color: #339; }
.has-success .checkbox {
  color: #339; }
.has-success .radio-inline {
  color: #339; }
.has-success .checkbox-inline {
  color: #339; }
.has-success .form-control {
  border: 1px solid #339;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-success .form-control:focus {
    border: 1px solid #246128;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff726c; }
.has-success .input-group-addon {
  color: #339;
  border: 1px solid #339;
  background-color: #c0e3c2; }
.has-success .form-control-feedback {
  color: #339; }

.has-warning .help-block {
  color: #f8a46e; }
.has-warning .control-label {
  color: #f8a46e; }
.has-warning .radio {
  color: #f8a46e; }
.has-warning .checkbox {
  color: #f8a46e; }
.has-warning .radio-inline {
  color: #f8a46e; }
.has-warning .checkbox-inline {
  color: #f8a46e; }
.has-warning .form-control {
  border: 1px solid #f8a46e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-warning .form-control:focus {
    border: 1px solid #f6863a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fde1cf; }
.has-warning .input-group-addon {
  color: #f8a46e;
  border: 1px solid #f8a46e;
  background-color: #bba18c; }
.has-warning .form-control-feedback {
  color: #f8a46e; }

.has-error .help-block {
  color: #e8afae; }
.has-error .control-label {
  color: #e8afae; }
.has-error .radio {
  color: #e8afae; }
.has-error .checkbox {
  color: #e8afae; }
.has-error .radio-inline {
  color: #e8afae; }
.has-error .checkbox-inline {
  color: #e8afae; }
.has-error .form-control {
  border: 1px solid #e8afae;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .has-error .form-control:focus {
    border: 1px solid #dd8988;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px white; }
.has-error .input-group-addon {
  color: #e8afae;
  border: 1px solid #e8afae;
  background-color: #be6665; }
.has-error .form-control-feedback {
  color: #e8afae; }

.help-block {
  color: #8a8a8a; }

.btn:hover {
  color: #333333; }
.btn:focus {
  color: #333333; }
.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc; }
  .btn-default.disabled {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
    .btn-default.disabled:hover {
      background-color: #ffffff;
      border: 1px solid #cccccc; }
    .btn-default.disabled:focus {
      background-color: #ffffff;
      border: 1px solid #cccccc; }
    .btn-default.disabled:active {
      background-color: #ffffff;
      border: 1px solid #cccccc; }
    .btn-default.disabled.active {
      background-color: #ffffff;
      border: 1px solid #cccccc; }
  .btn-default .badge {
    color: #ffffff;
    background-color: #333333; }

.btn-default[disabled] {
  background-color: #ffffff;
  border: 1px solid #cccccc; }
  .btn-default[disabled]:hover {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  .btn-default[disabled]:focus {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  .btn-default[disabled]:active {
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  .btn-default[disabled].active {
    background-color: #ffffff;
    border: 1px solid #cccccc; }

.btn-primary {
  color: #ffffff;
  background-color: #339;
  border: 1px solid #339; }
  .btn-primary.disabled {
    background-color: #339;
    border: 1px solid #339; }
    .btn-primary.disabled:hover {
      background-color: #339;
      border: 1px solid #339; }
    .btn-primary.disabled:focus {
      background-color: #339;
      border: 1px solid #339; }
    .btn-primary.disabled:active {
      background-color: #339;
      border: 1px solid #339; }
    .btn-primary.disabled.active {
      background-color: #339;
      border: 1px solid #339; }
  .btn-primary .badge {
    color: #339;
    background-color: #ffffff; }

.btn-primary[disabled] {
  background-color: #339;
  border: 1px solid #339; }
  .btn-primary[disabled]:hover {
    background-color: #339;
    border: 1px solid #339; }
  .btn-primary[disabled]:focus {
    background-color: #339;
    border: 1px solid #339; }
  .btn-primary[disabled]:active {
    background-color: #339;
    border: 1px solid #339; }
  .btn-primary[disabled].active {
    background-color: #339;
    border: 1px solid #339; }

.btn-success {
  color: #ffffff;
  background-color: #339;
  border: 1px solid #339; }
  .btn-success.disabled {
    background-color: #339;
    border: 1px solid #339; }
    .btn-success.disabled:hover {
      background-color: #339;
      border: 1px solid #339; }
    .btn-success.disabled:focus {
      background-color: #339;
      border: 1px solid #339; }
    .btn-success.disabled:active {
      background-color: #339;
      border: 1px solid #339; }
    .btn-success.disabled.active {
      background-color: #339;
      border: 1px solid #339; }
  .btn-success .badge {
    color: #339;
    background-color: #ffffff; }

.btn-success[disabled] {
  background-color: #339;
  border: 1px solid #339; }
  .btn-success[disabled]:hover {
    background-color: #339;
    border: 1px solid #339; }
  .btn-success[disabled]:focus {
    background-color: #339;
    border: 1px solid #339; }
  .btn-success[disabled]:active {
    background-color: #339;
    border: 1px solid #339; }
  .btn-success[disabled].active {
    background-color: #339;
    border: 1px solid #339; }

.btn-info {
  color: #ffffff;
  background-color: #398799;
  border: 1px solid #216869; }
  .btn-info.disabled {
    background-color: #398799;
    border: 1px solid #216869; }
    .btn-info.disabled:hover {
      background-color: #398799;
      border: 1px solid #216869; }
    .btn-info.disabled:focus {
      background-color: #398799;
      border: 1px solid #216869; }
    .btn-info.disabled:active {
      background-color: #398799;
      border: 1px solid #216869; }
    .btn-info.disabled.active {
      background-color: #398799;
      border: 1px solid #216869; }
  .btn-info .badge {
    color: #398799;
    background-color: #ffffff; }

.btn-info[disabled] {
  background-color: #398799;
  border: 1px solid #216869; }
  .btn-info[disabled]:hover {
    background-color: #398799;
    border: 1px solid #216869; }
  .btn-info[disabled]:focus {
    background-color: #398799;
    border: 1px solid #216869; }
  .btn-info[disabled]:active {
    background-color: #398799;
    border: 1px solid #216869; }
  .btn-info[disabled].active {
    background-color: #398799;
    border: 1px solid #216869; }

.btn-warning {
  color: #ffffff;
  background-color: #a15426;
  border: 1px solid #8c4921; }
  .btn-warning.disabled {
    background-color: #a15426;
    border: 1px solid #8c4921; }
    .btn-warning.disabled:hover {
      background-color: #a15426;
      border: 1px solid #8c4921; }
    .btn-warning.disabled:focus {
      background-color: #a15426;
      border: 1px solid #8c4921; }
    .btn-warning.disabled:active {
      background-color: #a15426;
      border: 1px solid #8c4921; }
    .btn-warning.disabled.active {
      background-color: #a15426;
      border: 1px solid #8c4921; }
  .btn-warning .badge {
    color: #a15426;
    background-color: #ffffff; }

.btn-warning[disabled] {
  background-color: #a15426;
  border: 1px solid #8c4921; }
  .btn-warning[disabled]:hover {
    background-color: #a15426;
    border: 1px solid #8c4921; }
  .btn-warning[disabled]:focus {
    background-color: #a15426;
    border: 1px solid #8c4921; }
  .btn-warning[disabled]:active {
    background-color: #a15426;
    border: 1px solid #8c4921; }
  .btn-warning[disabled].active {
    background-color: #a15426;
    border: 1px solid #8c4921; }

.btn-danger {
  color: #ffffff;
  background-color: #a0352f;
  border: 1px solid #8c2e29; }
  .btn-danger.disabled {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
    .btn-danger.disabled:hover {
      background-color: #a0352f;
      border: 1px solid #8c2e29; }
    .btn-danger.disabled:focus {
      background-color: #a0352f;
      border: 1px solid #8c2e29; }
    .btn-danger.disabled:active {
      background-color: #a0352f;
      border: 1px solid #8c2e29; }
    .btn-danger.disabled.active {
      background-color: #a0352f;
      border: 1px solid #8c2e29; }
  .btn-danger .badge {
    color: #a0352f;
    background-color: #ffffff; }

.btn-danger[disabled] {
  background-color: #a0352f;
  border: 1px solid #8c2e29; }
  .btn-danger[disabled]:hover {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
  .btn-danger[disabled]:focus {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
  .btn-danger[disabled]:active {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }
  .btn-danger[disabled].active {
    background-color: #a0352f;
    border: 1px solid #8c2e29; }

.btn-link {
  color: #339; }
  .btn-link:hover {
    color: #1f1f99; }
  .btn-link:focus {
    color: #1f1f99; }

.btn-link[disabled]:hover {
  color: #858585; }
.btn-link[disabled]:focus {
  color: #858585; }

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .dropdown-menu .divider {
    background-color: #e6e6e6; }
  .dropdown-menu > li > a {
    color: #35363f; }
    .dropdown-menu > li > a:hover {
      color: #ffffff;
      background-color: #1f1f99; }
    .dropdown-menu > li > a:focus {
      color: #ffffff;
      background-color: #1f1f99; }
  .dropdown-menu > .active > a {
    color: #ffffff;
    background-color: #1f1f99; }
    .dropdown-menu > .active > a:hover {
      color: #ffffff;
      background-color: #1f1f99; }
    .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #1f1f99; }
  .dropdown-menu > .disabled > a {
    color: #858585; }
    .dropdown-menu > .disabled > a:hover {
      color: #858585; }
    .dropdown-menu > .disabled > a:focus {
      color: #858585; }

.dropdown-header {
  color: #858585; }

.input-group-addon {
  color: #636363;
  background-color: #9cba9e;
  border: 1px solid #cccccc; }

.nav .nav-divider {
  background-color: #e6e6e6; }
.nav > li > a:hover {
  color: #ffffff;
  background-color: #1f1f99;
  border-bottom: 1px solid #ffffff; }
.nav > li > a:focus {
  color: #ffffff;
  background-color: #1f1f99;
  border-bottom: 1px solid #ffffff; }
.nav > li.disabled > a {
  color: #858585; }
  .nav > li.disabled > a:hover {
    color: #858585; }
  .nav > li.disabled > a:focus {
    color: #858585; }
.nav .open > a {
  color: #ffffff;
  background-color: #1f1f99;
  border-bottom: 1px solid #ffffff; }
  .nav .open > a:hover {
    color: #ffffff;
    background-color: #1f1f99; }
  .nav .open > a:focus {
    color: #ffffff;
    background-color: #1f1f99; }

.nav-tabs {
  border-bottom: 1px solid #dadada; }
  .nav-tabs > li > a:hover {
    border: 1px solid #9cba9e #9cba9e #9cba9e; }

.navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.navbar-form {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }

.navbar-default {
  background-color: #363e29;
  border: 1px solid #252b1c; }
  .navbar-default .navbar-brand {
    color: #1f1f99; }
    .navbar-default .navbar-brand:hover {
      color: #649b6b; }
    .navbar-default .navbar-brand:focus {
      color: #649b6b; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-toggle {
    border: 1px solid #dadada; }
    .navbar-default .navbar-toggle:hover {
      background-color: #dadada; }
    .navbar-default .navbar-toggle:focus {
      background-color: #dadada; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #878787; }
  .navbar-default .navbar-collapse {
    border: 1px solid #252b1c; }
  .navbar-default .navbar-form {
    border: 1px solid #252b1c; }
  .navbar-default .navbar-link {
    color: #84b39a; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #1f1f99; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #ffffff; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > .active > a {
    color: #ffffff;
    background-color: #252b1c; }
    .navbar-default .navbar-nav > .active > a:hover {
      color: #ffffff;
      background-color: #252b1c; }
    .navbar-default .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #252b1c; }
  .navbar-default .navbar-nav > .disabled > a {
    color: #adadad; }
    .navbar-default .navbar-nav > .disabled > a:hover {
      color: #adadad; }
    .navbar-default .navbar-nav > .disabled > a:focus {
      color: #adadad; }
  .navbar-default .navbar-nav > .open > a {
    background-color: #252b1c;
    color: #ffffff; }
    .navbar-default .navbar-nav > .open > a:hover {
      background-color: #252b1c;
      color: #ffffff; }
    .navbar-default .navbar-nav > .open > a:focus {
      background-color: #252b1c;
      color: #ffffff; }

.navbar-inverse {
  background-color: #252b1c;
  border: 1px solid #080808; }
  .navbar-inverse .navbar-brand {
    color: #858585; }
    .navbar-inverse .navbar-brand:hover {
      color: #ffffff; }
    .navbar-inverse .navbar-brand:focus {
      color: #ffffff; }
  .navbar-inverse .navbar-text {
    color: #858585; }
  .navbar-inverse .navbar-toggle {
    border: 1px solid #333333; }
    .navbar-inverse .navbar-toggle:hover {
      background-color: #333333; }
    .navbar-inverse .navbar-toggle:focus {
      background-color: #333333; }
    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-inverse .navbar-collapse {
    border: 1px solid #101010; }
  .navbar-inverse .navbar-form {
    border: 1px solid #101010; }
  .navbar-inverse .navbar-link {
    color: #858585; }
    .navbar-inverse .navbar-link:hover {
      color: #ffffff; }
  .navbar-inverse .navbar-nav > li > a {
    color: #858585; }
    .navbar-inverse .navbar-nav > li > a:hover {
      color: #ffffff; }
    .navbar-inverse .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-inverse .navbar-nav > .active > a {
    color: #ffffff;
    background-color: #080808; }
    .navbar-inverse .navbar-nav > .active > a:hover {
      color: #ffffff;
      background-color: #080808; }
    .navbar-inverse .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #080808; }
  .navbar-inverse .navbar-nav > .disabled > a {
    color: #454545; }
    .navbar-inverse .navbar-nav > .disabled > a:hover {
      color: #454545; }
    .navbar-inverse .navbar-nav > .disabled > a:focus {
      color: #454545; }
  .navbar-inverse .navbar-nav > .open > a {
    background-color: #080808;
    color: #ffffff; }
    .navbar-inverse .navbar-nav > .open > a:hover {
      background-color: #080808;
      color: #ffffff; }
    .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: #080808;
      color: #ffffff; }

.breadcrumb {
  background-color: #f5f5f5; }
  .breadcrumb > .active {
    color: #858585; }
  .breadcrumb > li + li:before {
    color: #cccccc; }

.pagination {
  font-size: 1.2em; }

.pager li > a {
  background-color: #ffffff;
  border: 1px solid #dadada; }
  .pager li > a:hover {
    background-color: #9cba9e; }
  .pager li > a:focus {
    background-color: #9cba9e; }
.pager li > span {
  background-color: #ffffff;
  border: 1px solid #dadada; }
.pager .disabled > a {
  color: #858585;
  background-color: #ffffff; }
  .pager .disabled > a:hover {
    color: #858585;
    background-color: #ffffff; }
  .pager .disabled > a:focus {
    color: #858585;
    background-color: #ffffff; }
.pager .disabled > span {
  color: #858585;
  background-color: #ffffff; }

.label {
  color: #ffffff; }

.label[href]:hover {
  color: #ffffff; }
.label[href]:focus {
  color: #ffffff; }

.label-default {
  background-color: #858585; }

.label-default[href]:hover {
  background-color: #6b6b6b; }
.label-default[href]:focus {
  background-color: #6b6b6b; }

.label-primary {
  background-color: #339; }

.label-primary[href]:hover {
  background-color: #246128; }
.label-primary[href]:focus {
  background-color: #246128; }

.label-success {
  background-color: #339; }

.label-success[href]:hover {
  background-color: #246128; }
.label-success[href]:focus {
  background-color: #246128; }

.label-info {
  background-color: #398799; }

.label-info[href]:hover {
  background-color: #1c575a; }
.label-info[href]:focus {
  background-color: #1c575a; }

.label-warning {
  background-color: #a15426; }

.label-warning[href]:hover {
  background-color: #783d1c; }
.label-warning[href]:focus {
  background-color: #783d1c; }

.label-danger {
  background-color: #a0352f; }

.label-danger[href]:hover {
  background-color: #7b2824; }
.label-danger[href]:focus {
  background-color: #7b2824; }

.badge {
  color: #ffffff;
  background-color: #858585; }

.jumbotron {
  background-color: #9cba9e;
  background-color: transparent;
  text-align: center; }
  .jumbotron.message-box {
    background-color: transparent;
    margin-top: 1em; }

.thumbnail {
  background-color: #ffffff;
  border: 1px solid #dadada; }
  .thumbnail .caption {
    color: #35363f; }

.alert-success {
  background-color: #ffffff;
  border: 1px solid #afdbb1;
  color: #339; }
  .alert-success hr {
    border-top-color: #9dd39f; }
  .alert-success .alert-link {
    color: #246128; }

.alert-info {
  background-color: #ffffff;
  border: 1px solid #398799;
  color: #398799; }
  .alert-info hr {
    border-top-color: #8cb5b5; }
  .alert-info .alert-link {
    color: #1c575a; }

.alert-warning {
  background-color: #ffffff;
  border: 1px solid #a15426;
  color: #a15426; }
  .alert-warning hr {
    border-top-color: #a8876a; }
  .alert-warning .alert-link {
    color: #f6863a; }

.alert-danger {
  border: 1px solid #b95967;
  color: #b95967; }
  .alert-danger hr {
    border-top-color: #b04a59; }
  .alert-danger .alert-link {
    color: #dd8988; }

.progress {
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  color: #ffffff;
  background-color: #339;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); }

.progress-striped .progress-bar {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
.progress-striped .progress-bar-success {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
.progress-striped .progress-bar-info {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
.progress-striped .progress-bar-warning {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
.progress-striped .progress-bar-danger {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-success {
  background-color: #339; }

.progress-bar-info {
  background-color: #398799; }

.progress-bar-warning {
  background-color: #a15426; }

.progress-bar-danger {
  background-color: #a0352f; }

.list-group-item {
  background-color: #ffffff;
  border: 1px solid #dadada; }

.list-group-item-success {
  color: #339;
  background-color: #c0e3c2; }

.list-group-item-info {
  color: #398799;
  background-color: #649b6b; }

.list-group-item-warning {
  color: #f8a46e;
  background-color: #bba18c; }

.list-group-item-danger {
  color: #e8afae;
  background-color: #be6665; }

.panel {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .panel > .panel-body + .table {
    border-top: 1px solid #dadada; }
  .panel > .panel-body + .table-responsive {
    border-top: 1px solid #dadada; }

.panel-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #dadada; }

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #dadada; }
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dadada; }

.panel-default {
  border: 1px solid #dadada; }
  .panel-default > .panel-heading {
    color: #35363f;
    background-color: #f5f5f5;
    border: 1px solid #dadada; }
    .panel-default > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #dadada; }
  .panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dadada; }

.panel-primary {
  border: 1px solid #339; }
  .panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #339;
    border: 1px solid #339; }
    .panel-primary > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #339; }
  .panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #339; }

.panel-success {
  border: 1px solid #afdbb1; }
  .panel-success > .panel-heading {
    color: #339;
    background-color: #c0e3c2;
    border: 1px solid #afdbb1; }
    .panel-success > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #afdbb1; }
  .panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #afdbb1; }

.panel-info {
  border: 1px solid #9bbfc0; }
  .panel-info > .panel-heading {
    color: #398799;
    background-color: #649b6b;
    border: 1px solid #9bbfc0; }
    .panel-info > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #9bbfc0; }
  .panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #9bbfc0; }

.panel-warning {
  border: 1px solid #ff726c; }
  .panel-warning > .panel-heading {
    color: #f8a46e;
    background-color: #bba18c;
    border: 1px solid #ff726c; }
    .panel-warning > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #ff726c; }
  .panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ff726c; }

.panel-danger {
  border: 1px solid #b95967; }
  .panel-danger > .panel-heading {
    color: #e8afae;
    background-color: #be6665;
    border: 1px solid #b95967; }
    .panel-danger > .panel-heading + .panel-collapse .panel-body {
      border-top-color: #b95967; }
  .panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #b95967; }

.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  .well blockquote {
    border: 1px solid #dadada;
    border: 1px solid rgba(0, 0, 0, 0.15); }

.close {
  color: #000;
  text-shadow: 0 1px 0 #ffffff; }
  .close:hover {
    color: #000; }
  .close:focus {
    color: #000; }

.modal-content {
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modal-backdrop {
  background-color: #000; }

.modal-header {
  border-bottom: 1px solid #e6e6e6; }

.modal-footer {
  border-top: 1px solid #e6e6e6; }

.tooltip-inner {
  color: #ffffff;
  background-color: #000; }

.tooltip.top .tooltip-arrow {
  border-top-color: #000; }
.tooltip.top-left .tooltip-arrow {
  border-top-color: #000; }
.tooltip.top-right .tooltip-arrow {
  border-top-color: #000; }
.tooltip.right .tooltip-arrow {
  border-right-color: #000; }
.tooltip.left .tooltip-arrow {
  border-left-color: #000; }
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000; }
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #000; }
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #000; }

.popover {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .popover.top > .arrow {
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25); }
    .popover.top > .arrow:after {
      border-top-color: #ffffff; }
  .popover.right > .arrow {
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25); }
    .popover.right > .arrow:after {
      border-right-color: #ffffff; }
  .popover.bottom > .arrow {
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25); }
    .popover.bottom > .arrow:after {
      border-bottom-color: #ffffff; }
  .popover.left > .arrow {
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25); }
    .popover.left > .arrow:after {
      border-left-color: #ffffff; }

.popover-title {
  background-color: #9cba9e;
  border-bottom: 1px solid #8eae90; }

.carousel-control {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-indicators li {
  border: 1px solid #ffffff;
  background-color: #000 \9;
  background-color: transparent; }
.carousel-indicators .active {
  background-color: #ffffff; }

.carousel-caption {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

html {
  position: relative;
  min-height: 100%; }

.main-container {
  padding-bottom: 100px; }

#welcome-jumbotron {
  padding-top: 0;
  padding-bottom: 10px;
  display: none;
  color: #fff;
  background-color: #339; }

.surveymanagerbar {
  margin-top: -20px;
  padding-top: 5px;
  background-color: #1f1f99;
  color: #ffffff; }
  .surveymanagerbar h3 {
    margin-top: 5px;
    font-weight: 300;
    font-size: 1.5em; }

.surveybar {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 3px 3px rgba(99, 49, 48, 0.1);
  background-color: #ffffff;
  z-index: 2000; }

.tab-content {
  padding-top: 2em; }

:focus {
  outline: none; }

.navbar-brand {
  font-weight: 400; }

.navbar {
  background-color: #339;
  box-shadow: 0 3px 3px rgba(132, 136, 138, 0.1);
  border-radius: 0 !important; }
  .navbar a {
    font-weight: 400;
    color: #fff; }
  .navbar .dropdown-menu > li > a {
    font-weight: 400; }
  .navbar .nav-icon-btn.nav-icon-btn-danger .label {
    background: #a15426; }
  .navbar .nav-icon-btn > a .label {
    font-size: 10px;
    padding: 0 3px;
    line-height: 15px;
    position: absolute;
    display: block;
    right: 5px;
    top: 10px; }

.lime-icon {
  display: inline-block;
  height: 1em;
  width: 1em; }

.mega-dropdown {
  position: static !important; }

.mega-dropdown-menu {
  padding: 20px 0;
  width: 100%; }
  .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #1f1f99;
    padding: 5px 60px 5px 5px;
    line-height: 30px; }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0; }
    .mega-dropdown-menu > li > ul > li {
      list-style: none; }
      .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: #252b1c;
        padding: 3px 5px; }
  .mega-dropdown-menu > li ul > li > a:hover {
    text-decoration: none; }
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none; }

#mainmenu-dropdown {
  z-index: 20002; }

.footer {
  z-index: 100;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  display: block;
  width: 100%;
  height: 60px;
  border-top: solid 1px #dadada;
  padding-top: 1em; }

.alert-security-update {
  background-color: #ffffff;
  border: 1px solid #800052;
  color: #800052;
  margin: 0; }

#update-container {
  margin-top: 10px;
  z-index: 10100; }
  #update-container .alert {
    margin-bottom: 5px; }

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  text-align: right;
  display: block;
  margin-top: 10px; }

#info-header {
  font-size: 3em;
  color: #1f1f99; }

#info-footer {
  font-size: 2em;
  color: #1f1f99; }

.box-icon {
  border-radius: 50%;
  display: table;
  height: 50px;
  margin: 0 auto;
  width: 50px;
  margin-top: -31px; }
  .box-icon span {
    color: #ffffff;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slidefromtop {
  from {
    top: -15px; }
  to {
    top: 0; } }
@-moz-keyframes slidefromtop {
  from {
    top: -15px; }
  to {
    top: 0; } }
@-webkit-keyframes slidefromtop {
  from {
    top: -15px; }
  to {
    top: 0; } }
@-ms-keyframes slidefromtop {
  from {
    top: -15px; }
  to {
    top: 0; } }
@-o-keyframes slidefromtop {
  from {
    top: -15px; }
  to {
    top: 0; } }
.htmleditor {
  overflow: hidden; }

.form-group {
  margin-bottom: 17px; }

.cke_skin_kama .cke_toolgroup {
  padding-bottom: 6px;
  background: none; }
.cke_skin_kama tr {
  border: 1px solid #dadada;
  border-top: none;
  padding: 5px 5px 0 5px;
  display: block;
  min-height: 2em;
  padding-bottom: 10px;
  z-index: 1OO; }
.cke_skin_kama .cke_rcombo a {
  height: 26px; }
  .cke_skin_kama .cke_rcombo a:hover {
    height: 26px; }
  .cke_skin_kama .cke_rcombo a:active {
    height: 26px; }
.cke_skin_kama .cke_rcombo .cke_off a:hover .cke_openbutton {
  background-color: #fafafa; }
.cke_skin_kama .cke_rcombo .cke_off a:focus .cke_openbutton {
  background-color: #fafafa; }
.cke_skin_kama .cke_rcombo .cke_off a:active .cke_openbutton {
  background-color: #fafafa; }
.cke_skin_kama .cke_rcombo .cke_on .cke_openbutton {
  background-color: #fafafa; }
.cke_skin_kama .cke_button a {
  cursor: pointer;
  cursor: hand; }
  .cke_skin_kama .cke_button a.cke_off {
    cursor: pointer;
    cursor: hand; }
.cke_skin_kama tbody tr:first-child {
  border-top: 1px solid #dadada;
  padding-bottom: 0; }

.cke_contents {
  width: 650px; }

.cke_toolgroup {
  cursor: pointer;
  cursor: hand;
  border: 1px solid #dadada;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  background: #e3e3e3; }

.message-box {
  border: 1px solid #8bc68e;
  color: #2e2e2e;
  position: relative;
  margin-top: 20px;
  animation: slidefromtop 1s; }

.message-box-error {
  border: 1px solid #a0352f; }

.message-box-warning {
  border: 1px solid #a15426; }

.welcome #lime-logo {
  animation: fadein 1s; }
.welcome .panel {
  position: relative;
  top: 50px;
  opacity: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.welcome .panel-body {
  text-align: center; }
  .welcome .panel-body img {
    height: 4em;
    margin-bottom: 1em; }
.welcome .login-pannel .panel-body img {
  margin-bottom: 0; }

.alert {
  position: relative;
  animation: slidefromtop 1s; }

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .welcome .panel {
    min-height: 188px; } }
#welcomeModal {
  z-index: 20000; }

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  #add_user_btn {
    margin-top: 1.5em; }

  #user-control-table .form-group label {
    min-width: 80px; } }
.htmleditorboot {
  padding-top: 2em; }

#edit-question-body {
  min-height: 1200px; }

#profile-img {
  min-height: 80px; }

@media screen and (min-width: 1280px) and (max-width: 1680px) {
  #profile-img {
    min-height: 0; } }
.login-pannel {
  margin-top: 40px; }

.login-title {
  border-bottom: solid 1px #dadada; }

.login-content {
  text-align: left;
  padding: 1em; }

.login-submit {
  border-top: solid 1px #dadada;
  text-align: right; }

#s2id_loginlang {
  border: none;
  padding: 0; }

.ui-state-default {
  background-image: none;
  background-color: transparent;
  background-image: none;
  background-color: transparent; }

.ui-jqgrid .ui-jqgrid-bdiv {
  overflow: hidden; }
.ui-jqgrid .ui-jqgrid-view .ui-jqgrid-toppager {
  background-image: none;
  background-color: transparent; }
.ui-jqgrid .ui-jqgrid-htable th div {
  height: auto; }
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column div input {
  margin-top: 8px; }
  .ui-jqgrid .ui-jqgrid-htable th.ui-th-column div input.cbox {
    margin: 4px 0 0; }
.ui-jqgrid td input.cbox {
  margin: 4px 0 0; }
.ui-jqgrid tr.ui-row-ltr td {
  border: none; }

#gs_completed {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #636363;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.ui-th-column {
  margin-top: 8px; }

.h6 .small {
  color: #858585; }

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9; }

.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table-hover > tbody > tr > td.active:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > td.success:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > td.info:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > td.warning:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > td.danger:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > th.active:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > th.success:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > th.info:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > th.warning:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr > th.danger:hover {
  background-color: #1f1f99; }
.table-hover > tbody > tr:hover > td {
  background-color: #1f1f99; }
.table-hover > tbody > tr:hover > th {
  background-color: #1f1f99; }
.table-hover > tbody > tr.active:hover > td {
  background-color: #1f1f99; }
.table-hover > tbody > tr.active:hover > th {
  background-color: #1f1f99; }
.table-hover > tbody > tr.success:hover > td {
  background-color: #1f1f99; }
.table-hover > tbody > tr.success:hover > th {
  background-color: #1f1f99; }
.table-hover > tbody > tr.info:hover > td {
  background-color: #1f1f99; }
.table-hover > tbody > tr.info:hover > th {
  background-color: #1f1f99; }
.table-hover > tbody > tr.warning:hover > td {
  background-color: #1f1f99; }
.table-hover > tbody > tr.warning:hover > th {
  background-color: #1f1f99; }
.table-hover > tbody > tr.danger:hover > td {
  background-color: #1f1f99; }
.table-hover > tbody > tr.danger:hover > th {
  background-color: #1f1f99; }

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #339; }
.nav-pills > .active > a > .badge {
  color: #339;
  background-color: #ffffff; }

.nav-tabs-justified > .active > a {
  border: 1px solid #dadada; }
  .nav-tabs-justified > .active > a:hover {
    border: 1px solid #dadada; }
  .nav-tabs-justified > .active > a:focus {
    border: 1px solid #dadada; }

span.cke_skin_kama {
  padding-left: 0;
  width: 625px !important;
  border: none; }

.dropdown-item > a:hover {
  background-color: #1f1f99;
  color: #ffffff; }

.info > p {
  padding-top: 10px;
  text-align: justify; }

table.cke_editor {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16); }

.checkbox label:after {
  padding-left: 4px;
  padding-top: 2px;
  font-size: 9px; }

.hoverAction tr:hover {
  color: #fff;
  background-color: #709572; }

.hoverAction table thead tr:hover {
  color: #35363f;
  background-color: transparent; }

.survey-action .panel-body img {
  height: 3em; }

div.panel.disabled {
  opacity: 0.5;
  border: none; }
  div.panel.disabled * {
    opacity: 0.5;
    border: none; }
  div.panel.disabled a {
    cursor: default; }

#edit-group .tab-pane {
  padding: 1em; }

.panel-clickable:hover {
  cursor: pointer;
  cursor: hand; }

.ui-widget-content .ui-state-default {
  background-image: none;
  background-color: transparent;
  background-image: none;
  background-color: transparent; }

.ui-widget-header .ui-state-default {
  background-image: none;
  background-color: transparent;
  background-image: none;
  background-color: transparent; }

.ui-search-toolbar th div {
  min-height: 40px; }

.absolute-wrapper {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #e3e3e3;
  box-shadow: 3px 0px 3px rgba(132, 136, 138, 0.1); }

.side-menu {
  position: absolute;
  width: 300px;
  padding: 0;
  background-color: #ffffff;
  border-right: 1px solid #e3e3e3;
  background-color: #ffffff;
  left: 0; }
  .side-menu .navbar {
    border: none;
    background-color: #ffffff;
    box-shadow: none; }
  .side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e3e3e3; }
  .side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e3e3e3; }
    .side-menu .navbar-nav li a {
      padding: 15px; }
      .side-menu .navbar-nav li a .glyphicon {
        padding-right: 10px; }
      .side-menu .navbar-nav li a.question-link:hover {
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.16) inset, 0 2px 1px 1px rgba(0, 0, 0, 0.12) inset; }
  .side-menu .navbar-nav .active {
    background-color: #1f1f99;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.16) inset, 0 2px 1px 1px rgba(0, 0, 0, 0.12) inset; }
  .side-menu .navbar-nav .active a {
    color: #ffffff; }
  .side-menu .navbar-nav .question-link.active {
    background-color: transparent;
    padding: 15px 15px 15px 0px;
    margin-bottom: 5px;
    margin-right: -1px; }
    .side-menu .navbar-nav .question-link.active:hover {
      text-decoration: none;
      cursor: default; }
  .side-menu .navbar-nav .question-link {
    display: block;
    padding-left: 0px; }
  .side-menu .navbar-nav .question-link .question-collapse-title {
    padding-left: 25px; }
  .side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none; }
    .side-menu #dropdown li:hover {
      color: #ffffff;
      font-weight: 700;
      background-color: #8bc68e; }
    .side-menu #dropdown li.active:hover {
      cursor: default;
      background-color: transparent;
      color: #1f1f99;
      margin-right: -1px;
      border-right: 5px solid #e3e3e3; }
    .side-menu #dropdown li.disabled:hover {
      color: #ffffff;
      font-weight: 700;
      background-color: transparent; }
    .side-menu #dropdown .caret {
      float: right;
      margin: 9px 5px 0; }
    .side-menu #dropdown .indicator {
      float: right; }
    .side-menu #dropdown .panel-body {
      padding: 0;
      background-color: #fafafa; }
      .side-menu #dropdown .panel-body .navbar-nav {
        width: 100%; }
        .side-menu #dropdown .panel-body .navbar-nav li {
          padding-left: 15px;
          border: none;
          border-bottom: 1px solid #e3e3e3; }
          .side-menu #dropdown .panel-body .navbar-nav li.panel {
            margin-bottom: 0;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none; }
          .side-menu #dropdown .panel-body .navbar-nav li.panel-default {
            padding-left: 15px;
            border: none;
            border-bottom: 1px solid #e3e3e3; }
          .side-menu #dropdown .panel-body .navbar-nav li:last-child {
            border-bottom: none; }
      .side-menu #dropdown .panel-body .panel-body {
        margin-left: -15px; }
        .side-menu #dropdown .panel-body .panel-body li:last-child {
          border-bottom: 1px solid #e3e3e3; }
      .side-menu #dropdown .panel-body .panel > a {
        margin-left: -20px;
        padding-left: 35px; }
    .side-menu #dropdown .question-group-collapse .caret {
      float: none;
      margin-bottom: 9px; }
    .side-menu #dropdown > a {
      border-bottom: 1px solid #e3e3e3; }
  .side-menu .hide-button {
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px; }
  .side-menu .brand-name-wrapper {
    min-height: 50px; }
    .side-menu .brand-name-wrapper .navbar-brand {
      display: block; }
  .side-menu #search {
    position: relative;
    z-index: 1000; }
    .side-menu #search .panel-body {
      padding: 0; }
      .side-menu #search .panel-body .navbar-form {
        padding: 0;
        padding-right: 50px;
        width: 100%;
        margin: 0;
        position: relative;
        border-top: 1px solid #e3e3e3; }
        .side-menu #search .panel-body .navbar-form .form-group {
          width: 100%;
          position: relative; }
        .side-menu #search .panel-body .navbar-form input {
          border: 0;
          border-radius: 0;
          box-shadow: none;
          width: 100%;
          height: 50px; }
        .side-menu #search .panel-body .navbar-form .btn {
          position: absolute;
          right: 0;
          top: 0;
          border: 0;
          border-radius: 0;
          background-color: #fafafa;
          padding: 15px 18px; }
  .side-menu #explorer-collapse .caret {
    float: none;
    margin-bottom: 9px; }

#explorer {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; }
  #explorer ul {
    font-size: 0.9em; }
  #explorer .questiongroupdropdown li a {
    color: #000; }

.dropdownstyle {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; }

#sideMenu {
  min-height: 700px;
  overflow: hidden; }
  #sideMenu a[aria-expanded="true"] {
    color: #ffffff;
    font-weight: 700;
    background-color: #1f1f99; }
  #sideMenu a[aria-expanded="false"] {
    color: #163c19; }
  #sideMenu #dropdown li:hover {
    width: 100%;
    font-weight: 700;
    background-color: #4e8d56; }
  #sideMenu #dropdown li:hover > a {
    width: 100%;
    font-weight: 700;
    background-color: #4e8d56;
    border-bottom: none; }
  #sideMenu #dropdown li a[aria-expanded="true"] {
    width: 100%;
    font-weight: 700;
    background-color: #4e8d56; }
  #sideMenu #dropdown li .active a:hover {
    width: 100%;
    font-weight: 700;
    background-color: #4e8d56; }
  #sideMenu #dropdown li > a:hover {
    width: 100%;
    font-weight: 700;
    background-color: #4e8d56; }
  #sideMenu #dropdown #explorer li:hover {
    font-weight: 700;
    background-color: #649b6b; }
  #sideMenu #dropdown #explorer li:hover > a {
    font-weight: 700;
    background-color: #649b6b; }
  #sideMenu #dropdown #explorer li a[aria-expanded="true"] {
    font-weight: 700;
    background-color: #649b6b; }
  #sideMenu #dropdown #explorer li .active a:hover {
    font-weight: 700;
    background-color: #649b6b; }
  #sideMenu #dropdown #explorer li > a:hover {
    font-weight: 700;
    background-color: #649b6b; }
  #sideMenu #dropdown #explorer .questiongroupdropdown li:hover {
    font-weight: 700;
    background-color: #a7c4a9; }
  #sideMenu #dropdown #explorer .questiongroupdropdown li:hover > a {
    font-weight: 700;
    background-color: #a7c4a9; }
  #sideMenu #dropdown #explorer .questiongroupdropdown li a[aria-expanded="true"] {
    font-weight: 700;
    background-color: #a7c4a9; }
  #sideMenu #dropdown #explorer .questiongroupdropdown li .active a:hover {
    font-weight: 700;
    background-color: #a7c4a9; }
  #sideMenu #dropdown #explorer .questiongroupdropdown li > a:hover {
    font-weight: 700;
    background-color: #a7c4a9; }
  #sideMenu .navbar-default .navbar-nav > .active > a {
    background-color: transparent; }
  #sideMenu .side-menu .dropdownlvl1 > a:hover {
    color: #ffffff;
    font-weight: 700;
    background-color: #1f1f99; }
  #sideMenu .sidemenuscontainer li:hover {
    color: #ffffff;
    font-weight: 700;
    background-color: #1f1f99; }
  #sideMenu .sidemenuscontainer li:hover > a {
    color: #ffffff;
    font-weight: 700;
    background-color: #1f1f99; }

.side-body {
  min-height: 700px;
  margin-left: 320px; }

.question-group-collapse-title {
  display: block;
  padding-left: 20px; }

.question-collapse-title {
  display: block;
  padding-left: 30px; }

@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e3e3e3; }
    .side-menu .brand-name-wrapper .navbar-brand {
      display: inline-block; }

  @-moz-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-webkit-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-moz-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-webkit-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    animation: bodyslideout 300ms forwards;
    transform-style: preserve-3d; }

  .body-slide-in {
    animation: bodyslidein 300ms forwards;
    transform-style: preserve-3d; }

  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #fafafa; }

  .navbar-header {
    position: fixed;
    width: 100%;
    z-index: 3; }

  .side-menu-container > .navbar-nav {
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e3e3e3;
    background-color: #f8f8f8;
    animation: slideout 300ms forwards;
    transform-style: preserve-3d; }
    .side-menu-container > .navbar-nav.slide-in {
      animation: slidein 300ms forwards;
      transform-style: preserve-3d; }

  #search .panel-body .navbar-form {
    border-bottom: 0; }
    #search .panel-body .navbar-form .form-group {
      margin: 0; }

  #dropdown .panel-body .navbar-nav {
    margin: 0; }

  #survey-grid #survey-grid_c0, #survey-grid #survey-grid_c2, #survey-grid #survey-grid_c3, #survey-grid #survey-grid_c4, #survey-grid #survey-grid_c5,
  #question-grid #question-grid_c0, #question-grid #question-grid_c1 {
    display: none; } }
.content-right {
  padding-left: 0;
  padding-right: 0;
  animation: fadein 1s; }
  .content-right .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
    animation: fadein 1s; }

.toWhite a:hover {
  color: #ffffff;
  font-weight: 700;
  background-color: #8bc68e; }

.col-lg-12.content-right {
  padding-left: 0;
  padding-right: 0;
  animation: fadein 1s; }

.navbar-toggle {
  /*border: solid 1px #339; */
}

.navbar-toggle .icon-bar {
  background-color: #339; }

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #802b26;
  border: 1px solid #5d1f1b; }

.container-fluid .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #339; }

.container-fluid .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #a0352f;
  color: #fff; }

.btn.btn-default {
  color: #1f1f99; }

.btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-info:hover {
  color: #fff; }

/**
*  Radio / Check box buttons
*/
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.radio label,
.checkbox label {
  min-height: 23px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #4caf50; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #ff9800; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #e51c23; }

@media (min-width: 768px) {
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0; }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }

  .form-inline .has-feedback .form-control-feedback {
    top: 0; }

  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }

  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0; }

  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; } }
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 30px; }

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; }

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0; }

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 25px; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px; }

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none; }

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before,
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms; }

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #2196f3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #666666; }

input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }

input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #bbbbbb; }

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #2196f3; }

input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:after,
input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #bbbbbb; }

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }

input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none; }

input[type="checkbox"]:focus:after,
.checkbox input[type="checkbox"]:focus:after,
.checkbox-inline input[type="checkbox"]:focus:after {
  border-color: #2196f3; }

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666666;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms; }

input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #339;
  border-color: #339; }

input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #bbbbbb; }

input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #bbbbbb;
  border-color: transparent; }

.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input.form-control[readonly],
.has-warning input[type=text][readonly],
.has-warning [type=text].form-control[readonly],
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 #ff9800;
  box-shadow: inset 0 -2px 0 #ff9800; }

.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input.form-control[readonly],
.has-error input[type=text][readonly],
.has-error [type=text].form-control[readonly],
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 #e51c23;
  box-shadow: inset 0 -2px 0 #e51c23; }

.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input.form-control[readonly],
.has-success input[type=text][readonly],
.has-success [type=text].form-control[readonly],
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 #4caf50;
  box-shadow: inset 0 -2px 0 #4caf50; }

/* jqGrid */
.ui-widget-content {
  border: none;
  background: none;
  color: #404040; }

.ui-jqgrid .ui-jqgrid-titlebar {
  padding: 1em; }

.container-fluid .ui-widget-content .ui-state-default, .container-fluid .ui-jqgrid .ui-jqgrid-bdiv {
  padding: 0.5em; }

.ui-dialog, .ui-jqdialog, .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.ui-jqdialog-titlebar {
  height: 2em;
  width: 100%;
  border-bottom: 2px solid #cccccc; }

.EditTable tr td {
  padding: 1em; }

.ui-jqdialog-content input.FormElement {
  padding: .3em; }

.ui-jqdialog-content input[type="checkbox"].FormElement {
  padding: 0em; }

.EditTable td select, .EditTable td textarea {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #636363;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: Roboto; }

.EditTable td input, .EditTable td select, .EditTable td textarea {
  margin: 0; }

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
  display: inline-block;
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #636363;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }

#displayparticipants_firstname, #displayparticipants_lastname, #displayparticipants_owner_uid {
  padding-left: 40px; }

#displayparticipants_language {
  padding-left: 50px; }

#jqgh_displayparticipants_email {
  padding-left: 140px; }

#displayparticipants_survey {
  padding-left: 20px; }

.navtable {
  border: 1px solid #cccccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.ui-jqgrid-title {
  padding: 1em 0em 1em 1em;
  font-style: italic;
  font-weight: 700; }

.ui-pg-button {
  padding: 0.4em; }

.ui-pg-button:hover {
  cursor: pointer; }

.ui-state-disabled:hover {
  cursor: default; }

.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all .ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

[aria-hidden=true] {
  display: none;
  visibility: hidden; }

.modal-22 {
  position: absolute;
  width: 600px; }

.modal-22 .ui-jqdialog-titlebar .ui-jqdialog-title {
  width: 80%; }

.modal-22 .ui-jqdialog-content {
  padding: 1em;
  color: #a15426; }

.ui-dialog-titlebar-close {
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  margin: 0;
  font: normal normal normal 14px/1 FontAwesome; }

.ui-dialog-titlebar-close:before {
  content: "\f00d"; }

.cke_skin_kama .cke_contents {
  width: 600px; }

.em-expression {
  font-weight: bold; }

.em-function {
  color: #339; }

.em-var-string {
  color: #35363f; }

.data-entry-explanation + tr {
  background-color: #e6e6e6; }

.data-entry-tbl tr.odd, .data-entry-tbl tr.even {
  border-bottom: 1px solid #ebebeb; }

.data-entry-tbl tr.odd td, .data-entry-tbl tr.even td {
  padding: 20px 0 20px 0; }

h3 .glyphicon-chevron-up, h3 .glyphicon-chevron-down {
  position: absolute;
  right: 1em;
  top: 10px; }

h3 .glyphicon-chevron-up, h3 .glyphicon-chevron-down {
  cursor: pointer; }

/**
 * Template selector
 */
#carousel-example-generic {
  margin-left: 20px; }

#carousel-example-generic .carousel-control {
  color: #339;
  font-size: 1em;
  top: -80px; }

#carousel-example-generic .left.carousel-control {
  left: -20px; }

#carousel-example-generic .right.carousel-control {
  right: -20px; }

#carousel-example-generic .panel-title {
  color: #339;
  text-align: center;
  padding-top: 0px; }

#carousel-example-generic .carousel-inner img {
  margin: auto;
  top: 9px;
  position: relative; }

#carousel-example-generic .selectTemplate {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 320px; }

#carousel-example-generic .carousel-caption {
  width: 100%;
  left: 0;
  top: 0px;
  padding-top: 0px; }

#carousel-example-generic, #carousel-example-generic .carousel-inner {
  min-height: 150px; }

#carousel-example-generic .carousel-indicators {
  top: 370px;
  width: 80%;
  left: 39%; }

#carousel-example-generic .carousel-indicators li {
  margin: 0px;
  width: 8px;
  height: 8px; }

#carousel-example-generic .carousel-indicators .active {
  background-color: #339; }

#carousel-example-generic .carousel-indicators li {
  border: 1px solid #339; }

.side-body #carousel-example-generic h3 {
  border: none; }

#systemoverview {
  margin: 1em 0 1em 0; }

/**
 * Ajax loader
 * from : http://codepen.io/weaintplastic/pen/qEMZbx
 */
@keyframes preload-show-1 {
  from {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-hide-1 {
  to {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-cycle-1 {
  5% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #163c19; }
  10%,
        75% {
    transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #398799; }
  80%,
        100% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #339; } }
@keyframes preload-show-2 {
  from {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-hide-2 {
  to {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-cycle-2 {
  10% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #163c19; }
  15%,
        70% {
    transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #398799; }
  75%,
        100% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #339; } }
@keyframes preload-show-3 {
  from {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-hide-3 {
  to {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-cycle-3 {
  15% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #163c19; }
  20%,
        65% {
    transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #398799; }
  70%,
        100% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #339; } }
@keyframes preload-show-4 {
  from {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-hide-4 {
  to {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-cycle-4 {
  20% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #163c19; }
  25%,
        60% {
    transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #398799; }
  65%,
        100% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #339; } }
@keyframes preload-show-5 {
  from {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-hide-5 {
  to {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-cycle-5 {
  25% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #163c19; }
  30%,
        55% {
    transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #398799; }
  60%,
        100% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #339; } }
@keyframes preload-show-6 {
  from {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-hide-6 {
  to {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #163c19; } }
@keyframes preload-cycle-6 {
  30% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #163c19; }
  35%,
        50% {
    transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #398799; }
  55%,
        100% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #339; } }
@keyframes preload-flip {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg); }
  100% {
    transform: rotateY(360deg) rotateZ(-60deg); } }
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: block;
  width: 3.75em;
  height: 4.25em;
  margin-left: -1.875em;
  margin-top: -2.125em;
  transform-origin: center center;
  transform: rotateY(180deg) rotateZ(-60deg); }
  .preloader .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0; }
  .preloader .slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.82s preload-hide-1 both 1; }
  .preloader .slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.74s preload-hide-2 both 1; }
  .preloader .slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.66s preload-hide-3 both 1; }
  .preloader .slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.58s preload-hide-4 both 1; }
  .preloader .slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.5s preload-hide-5 both 1; }
  .preloader .slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.42s preload-hide-6 both 1; }
  .preloader.loading {
    animation: 2s preload-flip steps(2) infinite both; }
    .preloader.loading .slice:nth-child(1) {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-1 linear infinite both; }
    .preloader.loading .slice:nth-child(2) {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-2 linear infinite both; }
    .preloader.loading .slice:nth-child(3) {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-3 linear infinite both; }
    .preloader.loading .slice:nth-child(4) {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-4 linear infinite both; }
    .preloader.loading .slice:nth-child(5) {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-5 linear infinite both; }
    .preloader.loading .slice:nth-child(6) {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-6 linear infinite both; }

/**
 * comfortUpdate
 */
#ajaxContainerLoading {
  height: 130px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
  display: none; }

#comfortUpdateIcon {
  height: 1em;
  margin-right: 0.5em; }

#comfortUpdateGeneralWrap h3.maintitle {
  background-color: transparent;
  color: #339;
  border-bottom: 1px solid #339; }

#comfortUpdateGeneralWrap .on {
  font-weight: bold;
  font-size: 1em;
  padding-left: 0.5em;
  padding-top: 0.5em; }

#comfortUpdateGeneralWrap .on span {
  display: block;
  background-color: #339;
  color: #fff;
  padding: 0.1em;
  padding-left: 0.5em;
  width: 40%; }

#comfortUpdateGeneralWrap .off {
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-top: 0.5em; }

#comfortUpdateGeneralWrap #welcomeMessage, #comfortUpdateGeneralWrap #btn-container {
  border-right: 1px solid #EEE; }

#comfortUpdateGeneralWrap #key-actions {
  padding-left: 1em; }

#update-alert.unstable-update {
  background-color: #fff;
  border: 1px solid #A0352F;
  color: #A0352F;
  margin-top: 1em; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom-color: transparent;
  cursor: default; }

.answertable.table td {
  vertical-align: middle; }

.btnaddanswer:hover, .btndelanswer:hover {
  cursor: pointer; }

.jumbotron p {
  font-weight: 300; }

span[data-tooltip] {
  display: inline-block; }

.glyphicon-move:hover {
  cursor: pointer; }

.answertable .glyphicon-pencil {
  margin-left: 3px; }

#statisticsview .panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

#explorer-collapse {
  border-bottom: none; }

#explorer-collapse:hover, #sideMenu #dropdown li a#explorer-collapse[aria-expanded="true"], #sideMenu #dropdown li a.question-group-collapse[aria-expanded="true"] {
  width: auto; }

#sideMenu #dropdown #explorer li#questionexplorer-group-container, #sideMenu #dropdown li#questionexplorer-group-container > a {
  line-height: 1.4; }

#sideMenu #dropdown #explorer li#questionexplorer-group-container:hover, #sideMenu #dropdown li#questionexplorer-group-container:hover > a {
  background-color: #fafafa;
  color: #163c19;
  font-weight: 400;
  line-height: 1.4; }

.explorer-group-title {
  margin-top: 1em;
  padding: 0em 0 1em 0; }

.explorer-group-title a.explorer-group, .question-collapse-title {
  color: #163c19; }

#item-container, #jcarousel-wrapper-container {
  width: 300px; }

#item-container h4 {
  margin-bottom: 30px; }

.jcarousel li.active {
  border: 1px solid #339; }

.selectTemplate {
  margin-top: 10px; }

.imgSelectTemplate {
  cursor: pointer; }

.template-img {
  padding: 1em; }

#additional_languages {
  min-width: 200px; }

#available_languages {
  min-width: 200px; }

.modal {
  top: 50px; }

#tokensidemenu {
  border-top: 1px solid #e3e3e3; }

#survey_title a {
  color: #ffffff; }

.question-item {
  border: 1px solid #35363f;
  padding: 1em;
  margin: 1em 0 1em 0;
  cursor: pointer; }

/*
$color_deep_fir_approx: darken( $base-color, 20% );
$color_acapulco_approx: adjust-color($base-color, $hue: 24deg, $saturation: -22%, $lightness: 25%);
$color_aqua_forest_approx: adjust-color($base-color, $hue: 4deg, $saturation: -24%, $lightness: 14%);
$color_paradiso_approx:adjust-color($base-color, $lightness: 5%); ;
$color_norway_approx: adjust-color($base-color, $hue: 0deg, $saturation: -28%, $lightness: 31%);
*/
.placeholder {
  padding: 1em;
  margin: 1em 0 1em 0;
  background-color: #84b39a; }

/*# sourceMappingURL=lime-admin.css.map */
